#
pixl0004.hex
tools/bootloader.hex
tools/pixel.hex
tools/pixelapp5.hex
tools/pixl0005.hex
pixel.ioioapp
pixeltest.txt

# test builds
test-base*.ioioapp


## OSX Finder
.DS_Store

## emacs backup files
*~
.#*

## Xcode
build/
xcuserdata
xcshareddata

## Development files
cpp.sh
*.E