pixl0004.hex
tools/bootloader.hex
tools/pixel.hex
tools/pixelapp5.hex
tools/pixl0005.hex
pixel.ioioapp
pixeltest.txt
/tools/kevin.X/nbproject/private/
/tools/ios.X/nbproject/private/
/tools/ios2.X/nbproject/private/
/tools/ios_5s_delay.X/nbproject/private/
/builds/PIXL9 for Maker's Kit/pixl0009.X/nbproject/private/
/builds/pixl0009.X/nbproject/private/
/tools/latest.X/nbproject/private/
/tools/iOS and Android V1.X/nbproject/private/
/tools/iosandroidv2.X/nbproject/private/
/tools/iosandroidv3.X/nbproject/private/
/tools/iosandroidv3a.X/nbproject/private/
/tools/64.X/nbproject/private/
/tools/64a.X/nbproject/private/
/tools/64b.X/nbproject/private/
/tools/64c.X/nbproject/private/
/tools/64 300.X/nbproject/private/
/tools/64 200.X/nbproject/private/
/tools/64 250.X/nbproject/private/
/tools/64d.X/nbproject/private/
/tools/64e.X/nbproject/private/
/tools/64f.X/nbproject/private/
/tools/64g.X/nbproject/private/
/tools/64i.X/nbproject/private/
/tools/64j.X/nbproject/private/
/tools/64k.X/nbproject/private/
/tools/64l.X/nbproject/private/
/tools/64m.X/nbproject/private/

# Emacs auto-save files
*~
/seeed-pixelmultios.X/nbproject/private/
/sd-card-images/master firmware for seeed/nbproject/private/
/sd-card-images/makers kit master for seeed/seeed-pixel.X/nbproject/private/
/sd-card-images/makers kit master for seeed/seeed-pixel-multios-osc-required.X/nbproject/private/
/sd-card-images/makers for seeed pixl0025 android only/seeed-pixel-multios-osc-required.X/nbproject/private/
/sd-card-images/firmware seeed pixl0025 android only/seeed-pixel-multios-osc-required.X/nbproject/private/
/sd-card-images/firmware seeed makers kit pixl0025 android only/seeed-pixel-multios-osc-required.X/nbproject/private/
/sd-card-images/firmware seeed makers kit pixl0025 android only/seeed-pixel.X/nbproject/private/
/sd-card-images/firmware seeed makers kit pixl0025 android only/maker kit pixl0025 android only.X/nbproject/private/
/sd-card-images/firmware pixel frame pixz025 32x32/pixel frame multios pixz5171.X/nbproject/private/
/sd-card-images/firmware cat clutch pixi025 32x16/seeed-cat-clutch-3216-pixi0025.X/nbproject/private/
/sd-card-images/firmware pixel frame pixz025 32x32/pixel frame multios5171.X/nbproject/private/
/sd-card-images/firmware seeed makers kit pixl0025 android only/seeed maker kit android only multios.X/nbproject/private/